<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ejercicio: DCL</h1>
    <button class="button button-clear button-assertive" ng-click="closeModal2()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <p style="text-align: justify; padding-left: 5%; padding-right: 5%;">
      Una caja de herramientas de 60 N es arrastrada horizontalmente con una
      velocidad constante por medio de una cuerda que forma un ángulo de 35°
      con el piso. La tensión registrada en la cuerda es de 40 N. Calcule las
      magnitudes de la fuerza de fricción y de la fuerza normal.
    </p>
  </ion-content>
</ion-modal-view>
