<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ejercicio: DCL</h1>
    <button class="button button-clear button-assertive" ng-click="closeModal1()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <p style="text-align: justify; padding-left: 5%; padding-right: 5%;">
      Un semáforo de 80 N cuelga del punto medio de un cable de 30 m tendido
      entre dos postes. Halle la tensión en cada segmento del cable si éste tiene
      un pandeo que lo hace descender una distancia vertical de 1 m
    </p>
  </ion-content>
</ion-modal-view>
