<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ejercicio: Resistencia</h1>
    <button class="button button-clear button-assertive" ng-click="closeModal2()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <p style="text-align: justify; padding-left: 5%; padding-right: 5%;">
      Calcular la corriente total que circula en el siguiente circuito con cargas en serie, considerando que la fuente es de 90 volts.
      <br>
      <img src="img/serie-2.png" style="width: 100%;" alt="" />
    </p>
  </ion-content>
</ion-modal-view>
