<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2 style="text-align: center">Bienvenido a iALL</h2>
    <p>
    <div align="center"><img src="img/logo.png" style="width: 320px; height: 240px;" /></div>
    </p>
    <p style="text-align: justify;">
      Con la presente propuesta se plantea el desarrollo de un laboratorio inteligente con la finalidad de mejorar el rendimiento escolar y poder así agilizar el desenvolvimiento de las distintas prácticas de laboratorios en el área de física en las unidades educativas, esto se logrará desarrollando dos elementos, el primero una herramienta física provista de sensores de medición exactos y la segunda, una aplicación móvil capaz de conectarse con el dispositivo nombrado anteriormente, en donde se podrá observar los resultados arrojados por el mismo así como también la disposición de ejercicios de la materia y herramientas para el control de cada experiencia.
    </p>
    <button class="button button-positive" style="width: 100%;" ng-click="openProject();">
      Conoce Más de iALL
    </button>
  </ion-content>
</ion-view>
