<ion-view view-title="Ejercicios">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" title="MRU" href="#/tab/ejercicios/mru">
        <i class="icon ion-plus"></i>MRU
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/ejercicios/mrv">
        <i class="icon ion-plus"></i>MRV
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/ejercicios/fuerza">
        <i class="icon ion-plus"></i>Fuerza
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/ejercicios/dcl">
        <i class="icon ion-plus"></i>DCL
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/ejercicios/ley_de_ohm">
        Ley de <i class="icon ion-plus"></i>Ohm
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/ejercicios/resistencia">
        <i class="icon ion-plus"></i>Resistencia
      </ion-item>
      <ion-item class="item-icon-left" href="#/tab/ejercicios/condensadores">
        <i class="icon ion-plus"></i>Condensadores
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
