<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ejercicio: MRU</h1>
    <button class="button button-clear button-assertive" ng-click="closeModal1()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <p style="text-align: justify; padding-left: 5%; padding-right: 5%;">
      Dos pueblos que distan <b>12 km</b> están unidos por una carretera recta. Un ciclista viaja de un pueblo al otro con una velocidad constante de <b>10 m/s</b>. Calcula el tiempo que emplea.
    </p>
  </ion-content>
</ion-modal-view>
