<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ejercicio: Condensadores</h1>
    <button class="button button-clear button-assertive" ng-click="closeModal2()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <p style="text-align: justify; padding-left: 5%; padding-right: 5%;">
       Determina la capacitancia total del siguiente circuito. Donde
       <br>
       <img src="http://dieumsnh.qfb.umich.mx/ELECTRO/ejerca4.gif" style="width: 25%;" alt="" />
       <br>
       <img src="http://dieumsnh.qfb.umich.mx/ELECTRO/ejerca5.jpg" style="width: 100%;" alt="" />
    </p>
  </ion-content>
</ion-modal-view>
