<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ejercicio: Condensadores</h1>
    <button class="button button-clear button-assertive" ng-click="closeModal1()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <p style="text-align: justify; padding-left: 5%; padding-right: 5%;">
      Determinar la capacitancia total, del circuito serie mostrado, si la capacitancia de los condensadores es:
      <br>
      <img src="http://dieumsnh.qfb.umich.mx/ELECTRO/ejerca1.gif" style="width: 25%;" alt="" />
      <br>
      <img src="http://dieumsnh.qfb.umich.mx/ELECTRO/ejerca2.jpg" style="width: 100%;" alt="" />
    </p>
  </ion-content>
</ion-modal-view>
