<ion-view view-title="dcl">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>Fórmulas:</h2>
        <p>Diagrama de cuerpo libre</p>
      </div>

      <div class="item item-image">
        <img src="http://3.bp.blogspot.com/-QYpChgDSNpM/VQ3_31kIgII/AAAAAAAABws/UuCOMcRzJoI/s1600/Sin%2Bt%C3%ADtulo.png" style="width: 100%;" />
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-left" ng-click="openModal1()"><i class="icon ion-star"></i> Ejercicio 1</ion-item>
      <ion-item class="item-icon-left" ng-click="openModal2()"><i class="icon ion-star"></i> Ejercicio 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
