<ion-view view-title="fuerza">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>Fórmulas:</h2>
        <p>Fuerza</p>
      </div>

      <div class="item item-image">
        <img src="http://hyperphysics.phy-astr.gsu.edu/hbasees/imgmec/normal.gif" style="width: 100%;" />
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-left" ng-click="openModal1()"><i class="icon ion-star"></i> Ejercicio 1</ion-item>
      <ion-item class="item-icon-left" ng-click="openModal2()"><i class="icon ion-star"></i> Ejercicio 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
