<ion-view view-title="mruv">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>Fórmulas:</h2>
        <p>Movimiento Rectilineo Uniformemente Variado</p>
      </div>

      <div class="item item-image">
        <img src="https://ccnn2esovillavicar.files.wordpress.com/2013/05/ecuaciones-movimiento.png?w=510" style="width: 100%; text-align: center; position: center;">
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-left" ng-click="openModal1()"><i class="icon ion-star"></i> Ejercicio 1</ion-item>
      <ion-item class="item-icon-left" ng-click="openModal2()"><i class="icon ion-star"></i> Ejercicio 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
