<ion-view view-title="Resistencias">
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>Fórmulas:</h2>
        <p>Resistencias</p>
      </div>

      <div class="item item-image">
        <a ng-click="document.execCommand('SaveAs')"><img src="http://www.nichese.com/formulas/resis-conductor.jpg" style="width: 100%;" /></a>
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-left" ng-click="openModal1()"><i class="icon ion-star"></i> Ejercicio 1</ion-item>
      <ion-item class="item-icon-left" ng-click="openModal2()"><i class="icon ion-star"></i> Ejercicio 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
