<ion-view view-title="Distancias">
  <ion-content>
    <ion-list>
      <ion-item><h2 align="center">Pronto aparecera la distancia: </h2></ion-item>
      <ion-item>Distancia: {{distance}} cm</ion-item>
      <br>
      <button class="button button-balanced" style="padding-left: 2%; width: 48%;" ng-click="activate()">Activar</button>
      <button class="button button-assertive" style="padding-left: 2%; width: 48%;" ng-click="shutdown()">Apagar</button>
    </ion-list>
  </ion-content>
</ion-view>
