<ion-view view-title="Temperaturas">
  <ion-content>
    <ion-list>
      <ion-item><h2 align="center">Pronto Aparecera la temperatura del sensor</h2></div>
      <ion-item>Celsius: {{temperature.celsius}}</ion-item>
      <ion-item>Fahrenheit: {{temperature.fahrenheit}}</ion-item>
      <br>
      <button class="button button-balanced" style="padding-left: 2%; width: 48%;" ng-click="activate()">Activar</button>
      <button class="button button-assertive" style="padding-left: 2%; width: 48%;" ng-click="shutdown()">Apagar</button>
    </ion-list>
  </ion-content>
</ion-view>
